# This is an example of how you launch this compose
# docker compose --env-file ./profiles/local_esosc/.env.app up --build -d
name: essosc-viewer

volumes:
  geoserver_data_dir:
  traefik_letsencrypt:

networks:
  backend:
    name: essosc-viewer_backend

services:
  traefik:
    image: traefik:v3
    command:
      - --providers.docker
      - --providers.docker.exposedbydefault=false
      - --providers.docker.network=essosc-viewer_backend
      - --entrypoints.web.address=:80
      - --entrypoints.websecure.address=:443

      - --certificatesresolvers.le.acme.email=${LETSENCRYPT_EMAIL}
      - --certificatesresolvers.le.acme.storage=/letsencrypt/acme.json
      - --certificatesresolvers.le.acme.httpchallenge=true
      - --certificatesresolvers.le.acme.httpchallenge.entrypoint=web
    ports:
      - 80:80
      - 443:443
    networks: [backend]
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - traefik_letsencrypt:/letsencrypt
    labels:
      - traefik.enable=true
      # redirect all http->https in deploy, but not for localhost / 127.0.0.1
      - traefik.http.routers.http-catchall.rule=HostRegexp(`{host:.+}`) && !Host(`localhost`) && !Host(`127.0.0.1`)
      - traefik.http.routers.http-catchall.entrypoints=web
      - traefik.http.routers.http-catchall.middlewares=redirect-to-https
      - traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https

      - traefik.http.middlewares.cache-year.headers.customResponseHeaders.Cache-Control=public,max-age=31536000,immutable
      - traefik.http.middlewares.no-store.headers.customResponseHeaders.Cache-Control=no-store

  geoserver:
    image: ${GEOSERVER_IMAGE}
    restart: unless-stopped
    healthcheck:
      test: ['CMD-SHELL', 'wget -qO- http://localhost:8080/geoserver/web/ >/dev/null 2>&1 || exit 1']
      interval: 15s
      timeout: 5s
      retries: 20
    volumes:
      - ${LOCAL_DATA}:${GEOSERVER_LOCAL_DATA_DIR}:ro
    environment:
      - GEOSERVER_ADMIN_USER=${GEOSERVER_ADMIN_USER}
      - GEOSERVER_ADMIN_PASSWORD=${GEOSERVER_ADMIN_PASSWORD}
      - JAVA_OPTS=${GEOSERVER_JAVA_OPTS}
    networks: [backend]
    labels:
      - traefik.enable=true

      # deploy (HTTPS)
      - traefik.http.routers.geoserver.rule=Host(`${HOST}`) && PathPrefix(`/geoserver`)
      - traefik.http.routers.geoserver.entrypoints=websecure
      - traefik.http.routers.geoserver.tls=true
      - traefik.http.routers.geoserver.tls.certresolver=le

      # local (HTTP)
      - traefik.http.routers.geoserver-local.rule=(Host(`localhost`) || Host(`127.0.0.1`)) && PathPrefix(`/geoserver`)
      - traefik.http.routers.geoserver-local.entrypoints=web
      - traefik.http.services.geoserver.loadbalancer.server.port=8080

  viewer:
    build:
      context: .
      dockerfile: Dockerfile.viewer
    restart: unless-stopped
    environment:
      - GEOSERVER_BASE_URL=/geoserver
      - LAYERS_YAML_PATH=/app/layers.yml
      - RSTATS_BASE_URL=/rstats
      - GLOBAL_CRS=${GLOBAL_CRS}
    volumes:
      - ./${LAYERS_YML}:/app/layers.yml:ro
    networks: [backend]
    labels:
      - traefik.enable=true

      #  shared service
      - traefik.http.services.viewer.loadbalancer.server.port=5173
      - traefik.http.middlewares.viewer-stripprefix.stripprefix.prefixes=/viewer

      # deploy (HTTPS)
      - traefik.http.routers.viewer.rule=Host(`${HOST}`) && PathPrefix(`/viewer`)
      - traefik.http.routers.viewer.entrypoints=websecure
      - traefik.http.routers.viewer.tls=true
      - traefik.http.routers.viewer.tls.certresolver=le
      # prevent caching of HTML entry
      - traefik.http.routers.viewer.middlewares=viewer-stripprefix@docker,no-store@docker

      # local (HTTP)
      - traefik.http.routers.viewer-local.rule=(Host(`localhost`) || Host(`127.0.0.1`)) && PathPrefix(`/viewer`)
      - traefik.http.routers.viewer-local.entrypoints=web
      - traefik.http.routers.viewer-local.middlewares=viewer-stripprefix@docker,no-store@docker

      # HTTPS assets
      - traefik.http.routers.viewer-assets.rule=Host(`${HOST}`) && PathPrefix(`/viewer`)
      - traefik.http.routers.viewer-assets.entrypoints=websecure
      - traefik.http.routers.viewer-assets.tls=true
      - traefik.http.routers.viewer-assets.tls.certresolver=le
      - traefik.http.routers.viewer-assets.middlewares=viewer-stripprefix@docker,cache-year@docker

      # HTTP assets
      - traefik.http.routers.viewer-local-assets.rule=(Host(`localhost`) || Host(`127.0.0.1`)) && PathPrefix(`/viewer`)
      - traefik.http.routers.viewer-local-assets.entrypoints=web
      - traefik.http.routers.viewer-local-assets.middlewares=viewer-stripprefix@docker,cache-year@docker


  geoserver-init:
    build:
      context: .
      dockerfile: Dockerfile.geoserver-init
      args:
        GEOSERVER_LOCAL_DATA_DIR: ${GEOSERVER_LOCAL_DATA_DIR}
    depends_on:
      geoserver:
        condition: service_healthy
    networks: [backend]
    restart: 'no'
    environment:
      - GEOSERVER_INIT_PROCESS_FILES=${GEOSERVER_INIT_PROCESS_FILES}
      - GEOSERVER_LOCAL_DATA_DIR=${GEOSERVER_LOCAL_DATA_DIR}
      - GEOSERVER_INTERNAL_BASE_URL=${GEOSERVER_INTERNAL_BASE_URL}
      - GEOSERVER_ADMIN_USER=${GEOSERVER_ADMIN_USER}
      - GEOSERVER_ADMIN_PASSWORD=${GEOSERVER_ADMIN_PASSWORD}
    volumes:
      - ./geoserver_register.py:/app/geoserver_register.py:ro
      - ${LAYERS_YML}:/app/layers.yml:ro
      - ./.env:/app/.env:ro
      - ${LOCAL_DATA}:${GEOSERVER_LOCAL_DATA_DIR}:ro
      - ./styles:/app/styles
    command: ['/app/layers.yml']

  rstats:
    build:
      context: .
      dockerfile: Dockerfile.rstats
    restart: unless-stopped
    environment:
      - WORKERS=2
      - GEOSERVER_LOCAL_DATA_DIR=${GEOSERVER_LOCAL_DATA_DIR}
    volumes:
      - ${LAYERS_YML}:/app/layers.yml:ro
      - ${LOCAL_DATA}:${GEOSERVER_LOCAL_DATA_DIR}:ro
      - ./.env:/app/.env:ro
    networks: [backend]
    labels:
      - traefik.enable=true

      # shared service
      - traefik.http.services.rstats.loadbalancer.server.port=8000
      - traefik.http.middlewares.rstats-stripprefix.stripprefix.prefixes=/rstats

      # deploy (HTTPS)
      - traefik.http.routers.rstats.rule=Host(`${HOST}`) && PathPrefix(`/rstats`)
      - traefik.http.routers.rstats.entrypoints=websecure
      - traefik.http.routers.rstats.tls=true
      - traefik.http.routers.rstats.tls.certresolver=le
      - traefik.http.routers.rstats.middlewares=rstats-stripprefix@docker,no-store@docker

      # local (HTTP)
      - traefik.http.routers.rstats-local.rule=(Host(`localhost`) || Host(`127.0.0.1`)) && PathPrefix(`/rstats`)
      - traefik.http.routers.rstats-local.entrypoints=web
      - traefik.http.routers.rstats-local.middlewares=rstats-stripprefix@docker,no-store@docker
